################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake/v18/.suo
/.vs/Snake/FileContentIndex/22101e86-9c6d-4ff2-a463-6288b78b9d0d.vsidx
/.vs/Snake/v18/DocumentLayout.json
