################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake/v18/.suo
/.vs/Snake/FileContentIndex/22101e86-9c6d-4ff2-a463-6288b78b9d0d.vsidx
/.vs/Snake/v18/DocumentLayout.json
/Snake/.vs/Snake/FileContentIndex/8f0e2706-545d-4aee-b463-4063e60b7627.vsidx
/Snake/.vs/Snake/FileContentIndex/e2a6fa4c-3f39-43a6-ae7f-d6fd11208f92.vsidx
/Snake/.vs/Snake/FileContentIndex
/Snake/.vs/Snake/v18/.suo
/Snake/.vs/Snake/v18/DocumentLayout.backup.json
/Snake/.vs/Snake/v18/DocumentLayout.json
